<footer class="footer">
  <div class="footer__divs">
    <h1 class="footer__title">Institucional</h1>
    <a href="" class="footer__link">Quem Somos</a>
  </div>

  <div class="footer__divs">
    <h1 class="footer__title">Ajuda</h1>
    <a href="" class="footer__link">Empréstimos e devoluções</a>
    <a href="" class="footer__link">Entre em contato</a>
  </div>

  <div class="footer__divs">
    <h1 class="footer__title">Fale com a gente</h1>
    <a href="" class="footer__link">(35)988888888</a>
    <a href="" class="footer__link">contato@livrary.com</a>
  </div>

  <div class="footer__line-black">Feito com <span style="color: red;">♥</span> por Luana Gabrieli.</div>
</footer>
