.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__descrition {
  padding: 10px;
}

.section__descrition-title {
  font-weight: 600;
  display: inline-block;
}

.section__descrition-title::after {
  display: block;
  content: "";
  width: 60px;
  border-bottom: 4px solid var(--yellow);
  margin-left: 45%;
}

.section__image {
  width: 40%;
  height: auto;
}

.section__descrition-link {
  background: var(--main-purple);
  color: var(--white);
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 690px) {
  .section {
    margin: 0 156px;
  }

  .section__image {
    width: 30%;
    height: auto;
  }
}

@media screen and (min-width: 993px) {
  .section__image {
    width: 200px;
    height: auto;
  }
}

@media screen and (min-width: 1080px) {
}
