<app-header></app-header>
<main>
  <section>
    <div class="main__content">
      <h1 class="main__content-title">Mergulhe na <strong class="main__content-title-detail">magia dos livros!</strong></h1>
      <p class="main__content-text">Explore mundos inexplorados e descubra a verdadeira essência da imaginação em cada página.</p>

      <form class="form__input">
        <div>
          <input class="form__input-field" type="search" placeholder="Pesquisar livro...">
        </div>
      </form>

      <img src="/assets/main-content/lendo-um-livro.png" alt="mão segurando um livro aberto" class="main__content-image">
    </div>
  </section>

  <app-recent-books></app-recent-books>
  <app-banner></app-banner>
  <app-book-release></app-book-release>
</main>


<app-footer></app-footer>