<section class="section">

  <div class="div__title">
    <h2 class="title">Novidades</h2>
  </div>

  <swiper-container [slidesPerView]="slidesPerView" space-between="10" pagination="true" pagination-clickable="true" center-insufficient-slides="true">
    <swiper-slide>
      <img src="/assets/recent-books/acessibilidade.svg" alt="Foto livro">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/recent-books/angular.svg" alt="Foto livro"> </swiper-slide>
    <swiper-slide>
      <img src="/assets/recent-books/guia_front_end.svg" alt="Foto livro"> </swiper-slide>
    <swiper-slide>
      <img src="/assets/recent-books/guia_front_end.svg" alt="Foto livro"> </swiper-slide>
    <swiper-slide>
      <img src="/assets/recent-books/guia_front_end.svg" alt="Foto livro"> </swiper-slide>
    <swiper-slide>
      <img src="/assets/recent-books/guia_front_end.svg" alt="Foto livro"> </swiper-slide>
  </swiper-container>

</section>