.banner {
  margin: 4rem 0;
  background-color: var(--white);
  padding: 20px;
  text-align: center;
}

.alinhamento {
  display: flex;
  justify-content: center;
}

.card-title {
  font-weight: 600;
  letter-spacing: 4px;
}

.card-title-detail {
  color: var(--main-purple);
}

.card-text {
  margin: 20px 0;
}

img {
  width: 100%;
  border-radius: 5px;
}

.mat-card__link {
  background: var(--main-purple);
  color: var(--white);
  font-size: 12px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 320px) {
  .banner {
    margin: 4rem 2rem;
  }
}

@media screen and (min-width: 481px) {
  .banner {
    margin: 4rem 5rem;
  }
}

@media screen and (min-width: 676px) {
  .banner {
    margin: 4rem 10rem;
  }
}

@media screen and (min-width: 993px) {
  .banner {
    width: 700px;
    margin: 4rem 10rem;
  }
}
