<div class="banner">
  <mat-card class="example-card">
    <h1 class="card-title">Livros de <span class="card-title-detail">fantasia</span></h1>
    <img mat-card-image src="/assets/banner/harry-potter.jpg" alt="Foto de uma mulher segurando o livro do Harry Potter">
    <mat-card-content>
      <p class="card-text">
        Desvende mistérios encantados e embarque em aventuras épicas com nosso acervo de livros de fantasia
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="" class="mat-card__link" mat-button>ACERVO</a>
    </mat-card-actions>
  </mat-card>

</div>