@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  --main-purple: rgb(157, 78, 231);
  --secondary-purple: #a046e7e0;
  --pink: #ebecee;
  --white: white;
  --yellow: #ffe114;
  --font-itim: "Itim", cursive;
}

html,
body {
  height: 100%;
  background-color: var(--pink);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
